<div class="margin-center" appMatFormFieldGroup (onAllInputCheck)="validForm = $event">
    <ul>
        <li *ngIf="error">
            <h1 class="text-center" style="color: red;">{{error}}</h1>
        </li>
        <li>
            <app-mat-form-field-input
            [value]="username" (valueOutput)="username = $event"
            label="Username"
            placeholder="Your login username"
            [required]="true"
            styleWidth="100%"
            ></app-mat-form-field-input>
        </li>
        <li>
            <app-mat-form-field-input
            [value]="password" (valueOutput)="password = $event"
            label="Password"
            placeholder="Your login password"
            [required]="true"
            styleWidth="100%"
            ></app-mat-form-field-input>
        </li>
        <li><button mat-raised-button color="primary" style="width: 100%;" [disabled]="!validForm" (click)="login()">Login</button></li>
        <li><h3>Need to <a routerLink="/register">register</a> ?</h3></li>
    </ul>
</div>