<h1 mat-dialog-title>ID: {{data.id}}</h1>
<div mat-dialog-content appMatFormFieldGroup (onAllInputCheck)="validForm = $event">
  <ul>
    <li *ngIf="error">
      <h1 class="text-center" style="color: red">{{error}}</h1>
    </li>
  </ul>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" [disabled]="!validForm" (click)="modifyItem()">{{getModifyLabel()}}</button>
  <button mat-raised-button color="accent" [disabled]="!isValueChange()" (click)="revert()">Revert</button>
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
</div>