<ng-container *ngIf="isValueNumber()">
  <app-mat-form-field-input
    [label]="label"
    [value]="value" (valueOutput)="value = $event"
    (onValueChange)="emitValue()"
    [styleWidth]="styleWidth"
    [disable]="disable"
    [required]="required"
    defaultType="number"
  ></app-mat-form-field-input>
</ng-container>

<ng-container *ngIf="isValueBoolean()">
  <app-mat-form-field-input-option
    [label]="label"
    [value]="value" (valueOutput)="value = $event"
    (onValueChange)="emitValue()"
    [options]="options"
    noneLabel=""
    [styleWidth]="styleWidth"
    [disable]="disable"
    [required]="required"
  ></app-mat-form-field-input-option>
</ng-container>

<ng-container *ngIf="isValueNonMultipleStringLine()">
  <app-mat-form-field-input
  [label]="label"
  [value]="value" (valueOutput)="value = $event"
  (onValueChange)="emitValue()"
  [required]="required"
  [showVisibleSwitch]="isPassword"
  [validateEmail]="isEmail"
  [styleWidth]="styleWidth"
  [disable]="disable"
  [required]="required"
  ></app-mat-form-field-input>
</ng-container>

<ng-container *ngIf="isValueMultipleStringLine()">
  <app-mat-form-field-text-area
  [label]="label"
  [value]="value" (valueOutput)="value = $event"
  (onValueChange)="emitValue()"
  [required]="required"
  [styleWidth]="styleWidth"
  [disable]="disable"
  [required]="required"
  ></app-mat-form-field-text-area>
</ng-container>

<ng-container *ngIf="isValueObject()">
  <h2 class="text-center">{{objectLabel}}</h2>
  <ul *ngFor="let item of items">
    <li>
      <app-mat-form-field-input-dynamic
      [label]="item.key"
      [value]="item.value" (valueOutput)="item.setValueFn($event)"
      [styleWidth]="styleWidth"
      [disable]="item.containSetting('disable')"
      [required]="item.containSetting('require')"
      [blankObject]="item.blankObject"
      [objectLabel]="item.key"
      ></app-mat-form-field-input-dynamic>
    </li>
  </ul>
</ng-container>