<ul>
  <ng-container >
    <br>
    <li><p align="right"><button mat-raised-button color="primary" (click)="matDrawer.toggle()"> ➥ </button></p></li>
    <hr>
    <li *ngIf="authenticatorService.isLoginB">
        <app-mat-form-field-input-option
        label="Organization"
        [value]="organizationService.selectedOrganizationId ?? ''"
        styleWidth="100%"
        noneLabel="Please select your Organization"
        [options]="options"
        (opened)="updateOrganizationList()"
        (selectionChange)="selectionChange($event)"
        ></app-mat-form-field-input-option>
    </li>
  </ng-container>
  <ng-container >
    <li><h1>Dashboard</h1></li>
    <hr>
    <ul>
      <li><button mat-flat-button [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</button></li>
      <li><button *ngIf="!authenticatorService.isLoginB" mat-flat-button [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</button></li>
      <li><button *ngIf="authenticatorService.isLoginB" mat-flat-button (click)="authenticatorService.logout()" >Logout</button></li>
      <li><button *ngIf="!authenticatorService.isLoginB" mat-flat-button [routerLink]="['/register']" routerLinkActive="router-link-active" >Register</button></li>
    </ul>
  </ng-container>
  <ng-container *ngIf="authenticatorService.isLoginB">
    <li><h1>Organization</h1></li>
    <hr>
    <ul>
      <ng-container *ngIf="organizationService.selectedOrganizationId">
        <li><button mat-flat-button [routerLink]="['organization', organizationService.selectedOrganizationId, 'home']" routerLinkActive="router-link-active" >Home</button></li>
        <li><button mat-flat-button [routerLink]="['organization', organizationService.selectedOrganizationId, 'profile']" routerLinkActive="router-link-active" >Profile</button></li>
        <li><button mat-flat-button [routerLink]="['organization', organizationService.selectedOrganizationId, 'smtp']" routerLinkActive="router-link-active" >SMTP</button></li>
      </ng-container>
      <ng-container *ngIf="!organizationService.selectedOrganizationId">
        <li><button mat-flat-button [routerLink]="['/organization/join']" routerLinkActive="router-link-active" >Join</button></li>
        <li><button mat-flat-button [routerLink]="['/organization/create']" routerLinkActive="router-link-active" >Create</button></li>
      </ng-container>
    </ul>
  </ng-container>
  <ng-container *ngIf="authenticatorService.isLoginB">
    <li><h1>Setting</h1></li>
    <hr>
    <ul>
      <li><button mat-flat-button [routerLink]="['/organization/join']" routerLinkActive="router-link-active" >Setting</button></li>
    </ul>
  </ng-container>
</ul>