
<ul class="margin-center">
    <li><h1 class="text-center">Users</h1></li>
    <li *ngIf="users">
        <app-mat-table
        [matRows]="users"
        [displayFilter]="true"
        [displayPagination]="true"
        [blankObject]="blankUser"
        (onEditRow)="onEditRow($event)"
        ></app-mat-table>
    </li>
    <li *ngIf="organization.id">
        <button 
        appCopyToClipboard
        mat-raised-button color="primary" 
        style="width: 100%;" 
        [copyToClipboardValue]="organization.id"
        copyMessage="Organization code copied to clipboard"
        >Copy Organization code: {{organization.id}}
        </button>
    </li>
</ul>